html {
    font-family: sans-serif;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.box {
    background: white;
    /*border: 5px solid #ccc;*/
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.navigator-main {
    display: flex;
    flex-direction: row;
}


.main {
    flex: 4;
}

.header-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.article {
    background: white;
    color: rgb(66, 66, 66);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    /* Устанавливает начальный размер элемента в зависимости от его содержимого */
    margin: 15px;
}

.article-content {
    flex: 1;
    /* Содержимое заполняет все оставшееся место, тем самым прижимая информационную панель к нижней части */
    margin-top: 15px;
    margin-bottom: 0;
}

.article-title{
    flex:1;
}

.image {
    display: block;
    margin:0;
    text-align: center;
}


h1, h2 {
    color: #123C69;
    margin: 0;
}

.indentation {
    flex:1;
    padding-top:0;
    padding-bottom: 0;
    padding-left:20px;
}

.article-code{
    flex:3;
    /*border: 2px solid #ccc;*/
    padding: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #666;
    font-family: Consolas;
    background:#f9fbfd;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.img-info{
    display: block;
    padding:0;
    margin:0;
    
}

.link-title{
    margin-top:10px;
    margin-bottom: 8px;
}

.navigator{
    background: #f3f3f3;
    border-radius: 10px;
    flex: 1;
    position: sticky;
    top: -60px;
    height: 600px;
}

ul{
    display: block;
    list-style: none;
    margin:0;
    padding:0;
}

.link{
    display: block;
    text-decoration: none;
    padding-top:10px;
    color:  #666;
    font-weight: 0;
}
